<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body>
    <p>{{ .Intro.Description }}</p>
    <ol>
        {{range $item := .Items }}
        <li>
            <ul>
                {{if $item.Skip}}<li>Skip - {{ $item.Skip }}</li>{{end}}
                {{if $item.Label }}<li>Label - {{ $item.Label }}</li>{{end}}
                {{if $item.Title }}<li>Title - {{ $item.Title }}</li>{{end}}
                {{if $item.Description }}<li>Description - {{ $item.Description }}</li>{{end}}
                {{if $item.Action }}<li>Action - 
                    <ul>
                        {{if $item.Action.PluginID }}<li>PluginID - {{ $item.Action.PluginID }}</li>{{end}}
                        {{if $item.Action.Class }}<li>Class - {{ $item.Action.Class }}</li>{{end}}
                        {{if $item.Action.Param1 }}<li>Param1 - {{ $item.Action.Param1 }}</li>{{end}}
                        {{if $item.Action.Param2 }}<li>Param2 - {{ $item.Action.Param2 }}</li>{{end}}
                    </ul>
                </li>{{end}}
                {{if $item.Command }}<li>Command -
                    <ul>
                        {{if $item.Command.Required }}<li>Required - {{ $item.Command.Required }}</li>{{end}}
                        {{if $item.Command.Returns }}<li>Returns - {{ $item.Command.Returns }}</li>{{end}}
                        {{if $item.Command.Serialization }}<li>Serialization - {{ $item.Command.Serialization }}</li>{{end}}
                    </ul>
                </li>{{end}}
                {{if $item.Subitems }}<li>Sub Items - 
                    <ol>
                        {{range $subitem := $item.Subitems }}
                        <li>
                            <ul>
                                {{if $subitem.Skip }}<li>Skip - {{ $subitem.Skip }}</li>{{end}}
                                {{if $subitem.Label }}<li>Label - {{ $subitem.Label }}</li>{{end}}
                                {{if $subitem.Title }}<li>Title - {{ $subitem.Title }}</li>{{end}}
                                {{if $subitem.Description }}<li>Description - {{ $subitem.Description }}</li>{{end}}
                                {{if $subitem.Action }}
                                <li>Action - 
                                    <ul>
                                        {{if $subitem.Action.PluginID }}<li>PluginID - {{ $subitem.Action.PluginID }}</li>{{end}}
                                        {{if $subitem.Action.Class }}<li>Class - {{ $subitem.Action.Class }}</li>{{end}}
                                        {{if $subitem.Action.Param1 }}<li>Param1 - {{ $subitem.Action.Param1 }}</li>{{end}}
                                        {{if $subitem.Action.Param2 }}<li>Param2 - {{ $subitem.Action.Param2 }}</li>{{end}}
                                    </ul>
                                </li>
                                {{end}}
                                {{if $subitem.Command }}
                                <li>Command -
                                    <ul>
                                        {{if $subitem.Command.Required }}<li>Required - {{ $subitem.Command.Required }}</li>{{end}}
                                        {{if $subitem.Command.Returns }}<li>Returns - {{ $subitem.Command.Returns }}</li>{{end}}
                                        {{if $subitem.Command.Serialization }}<li>Serialization - {{ $subitem.Command.Serialization }}</li>{{end}}
                                    </ul>
                                </li>
                                {{end}}
                            </ul>
                        </li>
                        {{end}}
                    </ol>
                </li>{{end}}
            </ul>
        </li>
        {{end}}
    </ol>
</body>
</html>
<!--
type intro struct {
	Description string `xml:"description"`
}

type item struct {
	Skip        bool    `xml:"skip,attr"`
	Label       string  `xml:"label,attr"`
	Title       string  `xml:"title,attr"`
	Description string  `xml:"description"`
	Action      action  `xml:"action"`
	Command     command `xml:"command"`
	Subitems    []item  `xml:"subitem"`
}

type command struct {
	Required      bool   `xml:"required,attr"`
	Returns       string `xml:"returns,attr"`
	Serialization string `xml:"serialization,attr"`
}

type action struct {
	PluginID string `xml:"pluginId,attr"`
	Class    string `xml:"class,attr"`
	Param1   string `xml:"param1,attr"`
	Param2   string `xml:"param2,attr"`
}
-->
